node_modules
.env
output.mp3
uploads/
output.json
output.wav
ffmpeg/bin
ffmpeg/doc
ffmpeg/presets
ffmpeg/LICENSE
ffmpeg/README.txt
rhubarb/extras
rhubarb/res
rhubarb/tests
rhubarb/CHANGELOG.md
rhubarb/LICENSE.md
rhubarb/README.adoc
rhubarb/rhubarb.exe